<h1>{{title}}</h1>
<h2>{{name}}</h2>
<div>
    {{address}} <br>
    {{email}} <br>
    {{phone}} <br>
</div>
<hr>
<h3>Technologies</h3>
<div class="container">
  <div class="row">
    <div class="col-sm">*{{tech[0]}}</div>
    <div class="col-sm">*{{tech[1]}}</div>
    <div class="col-sm">*{{tech[2]}}</div>
  </div>
  <div class="row">
    <div class="col-sm">*{{tech[3]}}</div>
    <div class="col-sm">*{{tech[4]}}</div>
    <div class="col-sm">*{{tech[5]}}</div>
  </div>
  <div class="row">
    <div class="col-sm">*{{tech[6]}}</div>
    <div class="col-sm">*{{tech[7]}}</div>
    <div class="col-sm">*{{tech[8]}}</div>
  </div>
</div>


<div>
  <h3>Work Experience</h3>
  <table id="workexp" style="width: 50%;">
      <tr style="font-weight: bold;">
        <td>Employer</td>
        <td>Length</td>
      </tr>
      <tr>
        <td>{{job1}}</td>
        <td>{{j1t}}</td>
      </tr>
      <tr>
        <td>{{job2}}</td>
        <td>{{j2t}}</td>
      </tr>
      <tr>
        <td>{{job3}}</td>
        <td>{{j3t}}</td>
      </tr>
  </table>
  <br><br>

  <h3>Education</h3>
  <table id="education" style="width: 66%;">
    <tr style="font-weight: bold;">
      <td>School</td>
      <td>Degree</td>
    </tr>
    <tr>
      <td>{{school1}}</td>
      <td>{{degree1}}</td>
    </tr>
    <tr>
      <td>{{school2}}</td>
      <td>{{degree2}}</td>
    </tr>
  </table>
</div>